<html>
  <head>
    <title>Fabrication de votre potager</title>
  </head>
  <body>
    <h1>Fabrication du potager</h1>
      <h2>définir les dimensions de mon potager</h2>
      <h2>ajuster l'orientation du potager</h2>
      <h2>définir mon type de terre</h2>
      <h2>est-ce que ma terre gèle ?</h2>
      <h2>quand est-ce que je veux démarrer mon potager ?</h2>
  </body>
</html>
