<div class="container final-connect">

  <div class="modelisation">
    <h1>Votre potager</h1>

    <% grid_template_columns = "1fr " * @potager.parcels.last.size %>
    <% grid_template_rows = "1fr " * @potager.parcels.count %>

    <div class="garden" style="grid-template-columns: <%= grid_template_columns %>; grid-template-rows: <%= grid_template_rows %>;">
    <% @potager.parcels.each do |parcel| %>
      <% parcel.size.times do  %>
        <div class="veg"><%= cl_image_tag("#{parcel.vegetables_parcel.vegetable.photo}") %></div>
      <% end %>
    <% end %>
    </div>

    <input type="button" value="Générer un PDF" onClick="window.print()" class="btn   btn-home btn-lg btn-final-transparent btn-pdf">
  </div>

  <div class="compte">
    <h2>Grâce à mon compte :</h2>
      <ul class="list-unstyled compte-list">
        <li><i class="fas fa-leaf"></i> Je peux modifier mes parcelles</li>
        <li><i class="fas fa-leaf"></i> J'optimise mon rendement grâce à des informations clés</li>
        <li><i class="fas fa-leaf"></i> Je retrouve ma parcelle d'année en année et bénéficie de conseils pour les rotations de culture</li>
      </ul>
      <%= link_to "Créer un compte", new_user_registration_path, class:"btn btn-home btn-lg btn-final" %>
  </div>
</div>
