
.introduction {
  padding: 20px;
  width: 90%;
  margin: 20px auto;
  background-color: white;
  box-shadow: 1px 1px 1px #666666;
  height: 100vh;
}

.dimensions {
  padding: 20px;
  width: 90%;
  margin: 20px auto;
  background-color: white;
  box-shadow: 1px 1px 1px #666666;
  height: 100vh;
}

.orientation {
  padding: 20px;
  width: 90%;
  margin: 20px auto;
  background-color: white;
  box-shadow: 1px 1px 1px #666666;
  height: 100vh;
}

.terre {
  padding: 20px;
  width: 90%;
  margin: 20px auto;
  background-color: white;
  box-shadow: 1px 1px 1px #666666;
  height: 100vh;
}

.gel {
  padding: 20px;
  width: 90%;
  margin: 20px auto;
  background-color: white;
  box-shadow: 1px 1px 1px #666666;
  height: 100vh;
}

.date-de-debut {
  padding: 20px;
  width: 90%;
  margin: 20px auto;
  background-color: white;
  box-shadow: 1px 1px 1px #666666;
  height: 100vh;
}
