/* - - - - - - TERRE SPECIFIC - - - - - - - */


// <div class="grid">
//   <div class="argileux">Argileux</div>
//   <div class="sableux">Sableux</div>
//   <div class="limoneux">Limoneux</div>
//   <div class="humifere">Humifère</div>
//   <div class="calcaire">Calcaire</div>
// </div>

.terre .grid {
  display:grid;
  grid-template-columns: 15% 15% 15% 15% 15%;
  grid-template-rows: 1fr;
  width: 90%;
  margin: 0 auto;
  margin-top: 100px;
  color: black;
  justify-content: center;
}


.tile
{
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.tile:hover {
  color: blue;
}

.argileux {
  width: 100px;
  height: 100px;
  background-color: #DE4D0C;
  margin: 0 auto;
  text-align: center;
  padding: 35px 0;

}
.sableux {
  width: 100px;
  height: 100px;
  background-color: #DE4D0C;
  margin: 0 auto;
  text-align: center;
  padding: 35px 0;
}
.limoneux {
  width: 100px;
  height: 100px;
  background-color: #DE4D0C;
  margin: 0 auto;
  text-align: center;
  padding: 35px 0;
}
.humifere {
  width: 100px;
  height: 100px;
  background-color: #DE4D0C;
  margin: 0 auto;
  text-align: center;
  padding: 35px 0;
}
.calcaire {
  width: 100px;
  height: 100px;
  background-color: #DE4D0C;
  text-align: center;
  padding: 35px 0;
  margin: 0 auto;
}



/* - - - - - - ORIENTATION SPECIFIC - - - - - - - */

.orientation {
  padding: 20px;
  width: 90%;
  margin: auto;
  margin-top: 0px;
  background-color: white;
  box-shadow: 1px 1px 1px #666666;
  height: 100vh;
}

.orientation .formulaire p {
  margin-top: 50px;
}

.orientation .form {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.drag-rotate {
  position:absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px dotted white;
  color: blue;
  padding: 4%;
  transform: rotate(0);
  transform-origin: center center;
  user-select: none;
  touch-action: none;
    p {
      font-size: 30px;
      color: white;
      position: relative;
      float: left;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
}

.potager-final {
  position:relative;
  margin: 0 auto;
  width: 500px;
  height: 300px;
  background-color: #A0733E;
  border-radius: 8px;
}

.compass {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  margin: 0 auto;
  margin-top: 50px;
}

.orientation .grid {
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4fr 1fr;
  width: 90%;
  color: black;
  margin: auto;
}

.compass {
  grid-row: 1 / span 1;
  grid-column: 1 / 1;
}

.bottom-tag {
  padding-top: 20px;
  text-align: center;
  grid-row: 2 / span 1;
  grid-column: 1 / 1;
}



// #potager {
//   grid-row: 1 / span 1;
//   grid-column: 2 / span 1;
// }


/* - - - - - - DIMENSIONS SPECIFIC - - - - - - - */


.dimensions {
  padding: 20px;
  width: 90%;
  margin: 20px auto;
  background-color: white;
  box-shadow: 1px 1px 1px #666666;
  height: 100vh;
}

#parent {
  display: inline-block;
  width: 100%;
  height: 50vh;

  .item-draggable{
    background-color: #A0733E;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    border-radius: 8px;
    padding: 10px;
    margin: 0;
    touch-action: none;
    position: relative;
    top: 190px;
    left:10px;
    width: 100px;
    height: 100px;

    /* This makes things *much* easier */
    box-sizing: border-box;
  }
}

.form {
  margin: 50px 0;
  display: flex;
  justify-content: center;
}

.continue {
  width: 150px;
  margin: 50px auto;
  display:flex;
  justify-content:center;
  background-color: #59A37A;
  border: 0px;
}

.default-sizes {
  font-size: 20px;
  text-align: center;
  padding: auto 0;
}

.dimensions .grid {
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-template-rows: 300px 50px;
  width: 90%;
  height: auto;
}

#potager {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
}

.largeur {
  font-weight: bold;
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  margin-left: 10px;
  text-align: center;
  border-top: 1px solid black;
}

.longueur {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  border-right: 1px solid black;

}






/* - - - - - - REST OF NEW.HTML - - - - - - - */



.introduction {
  padding: 20px;
  width: 90%;
  margin: 20px auto;
  background-color: white;
  box-shadow: 1px 1px 1px #666666;
  height: 100vh;
}


.terre {
  padding: 20px;
  width: 90%;
  margin: 20px auto;
  background-color: white;
  box-shadow: 1px 1px 1px #666666;
  height: 100vh;
}

.gel {
  padding: 20px;
  width: 90%;
  margin: 20px auto;
  background-color: white;
  box-shadow: 1px 1px 1px #666666;
  height: 100vh;
}

.date-de-debut {
  padding: 20px;
  width: 90%;
  margin: 20px auto;
  background-color: white;
  box-shadow: 1px 1px 1px #666666;
  height: 100vh;
}
