.finalbuttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.final-list {
  width: 90%;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 1.2em;
  line-height: 26pt;
  text-align: justify;
  li {
    margin-bottom: 10px;
  }
  i {
    color: $green;
  }
  }
.final-connect h2 {
  text-align: center;
}

// ----------------------------- Progress bar ------
.potagers-show {
  .final-connect .pb-bg-1, .final-connect .pb-bg-2, .final-connect .pb-bg-3, .final-connect .pb-bg-4, .final-connect .pb-bg-5, .final-connect .pb-bg-6 {
    background-color: #767677;

  }
}
.potagers-show {
  .final-connect .pb-bg-1 .pb-image, .final-connect .pb-bg-2 .pb-image, .final-connect .pb-bg-3 .pb-image, .final-connect .pb-bg-4 .pb-image, .final-connect .pb-bg-5 .pb-image, .final-connect .pb-bg-6 .pb-image {
    filter: grayscale(0%);
  }
}
