// ----------------------------- Toute la page ------

.final-connect {
  padding: 20px;
  width: 90%;
  margin: auto;
  margin-top: 0px;
  background-color: white;
  box-shadow: 1px 1px 1px #666666;
  min-height: calc(100vh - 70px);
}


// ----------------------------- Partie haute : modélisation ------

.modelisation h1 {
  text-align: center;
}

.garden {
  display: grid;
  margin: 0 auto;
  width: 30%;

  .veg {

    height: 100px;
    width: 100px;
    background-color: #a5682a;
    padding: 5px;
    img {
      justify-content: center;
    }
    p {
      font-size: 12px;
      color: white;
      text-align: center;
      padding: 0;
    }
  }
}

.pdf {
  text-align: center;
}



// ----------------------------- Partie basse : création d'un compte ------

.compte {
  width: 30%;
  margin: 0 auto;
  box-shadow: 1px 1px 1px #666666;
  border-radius: 3px;
  text-align: center;
  border: 2px solid $blue;
  padding: 20px 15px;
  margin-top: 30px;
}

.compte-list {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 1.1em;
  line-height: 26pt;
  text-align: justify;

  li {

    margin-bottom: 10px;
  }
  i {
    color: $green;
  }
  }


