<html>
    <head>
        <meta http-equiv="refresh" content="5;url=http://www.somewhere.com/" />
    </head>
    <body>
        <h1>L'algorythme super puissant étudie toutes les possibilités...</h1>


          <iframe src="https://giphy.com/embed/l0HlCc9qfYJ6lZrzO" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/animation-cute-smile-l0HlCc9qfYJ6lZrzO">via GIPHY</a></p>
    </body>
</html>
