.couple-nom-photo {
  display: block !important;
  text-align: center;
  align-items: center;
  padding-bottom: 50px;
  width: 250px;
  height: 200px;
  .veg-name {
    padding-top: 10px;
  }
}

.choices-new {
  .navbar-wagon-right {
    display: none;
  }
}

.nopad {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
/*image gallery*/
.image-checkbox {
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid transparent;

  margin-bottom: 0;
  outline: 0;
  padding: 10px;
  width: 200px;
  height: 150px;
}
.image-checkbox input[type="checkbox"] {
  display: none;
}

.image-checkbox-checked {
  border-color: $blue;
  box-shadow: 1px 1px 1px #d6d6d6;

}
/*.image-checkbox .fa {
  position: absolute;
  color: #4A79A3;
  background-color: #fff;
  padding: 10px;
  top: 0;
  right: 0;
}
.image-checkbox-checked .fa {
  display: block !important;
}*/

.form-post {
  background: white;
  margin-top: 50px;
  padding: 20px;
  border-radius: 5px;
  h1 {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: #666666;
    margin-bottom: 50px;
    margin-top: 0px;
  }
  .btn {
    width: 100%;
    padding: 10px;
    font-weight: bold;
  }
}
