.progressbar {
  margin-top: 30px !important;
  margin: 0 auto;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.pb-background {
    height: 10px;
    background-color: #dbdbdb;
    width: 15%;
    position: relative;
  }



.pb-bg-4 .pb-image, .pb-bg-5 .pb-image, {
    bottom: -20px;
  }

.pb-image {
  z-index: 2;
  position: absolute;
  right: -22px;
  bottom: -15px;
  filter: grayscale(100%);
}

.pb-img0 {
  z-index: 2;
  position: absolute;
  left: -30px;
  bottom: -18px ;

}


// <%= render 'shared/progressbar' %>
