.select-gel {
  border: 1px solid lightgray;
  display: flex;
  height: 80px;
  width: 400px;
  border-radius: 50px;
  overflow: hidden;
  align: center;
  margin: 150px auto;
  font-size: 20px;
}

.fa-snowflake {
  color: #99eaff;
  font-size: 30px;
}

.fa-sun {
  color: #EEA946;
  font-size: 30px;
}

.gel-2 {
  display: none;
}

.gel-2 + label {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}

.gel-2:checked + label {
  font-size: 30px;
  background-color: $blue;
  color: white;
}

.select-gel label {
  color: lightgray;
  background-color: white;
}

#gel > div.select-gel > label:nth-child(2) {
  border-right: 1px solid lightgray;
}
